.card-wrapper{
    background-color: transparent;
    border-radius: 5px;
    min-width:300px;
    overflow: hidden;
    display: flex;
    flex: 0 1;
    flex-direction: column;
}

.card{
    background: #E8EBEF;
    box-shadow: 0px 0px 10px #D2D7E0;
    border-radius: 5px;
    color: #707090;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 10px;
    box-sizing: border-box;
    max-height: 100%;
}

.card-content{
    overflow-y:scroll;
    display:flex;
    flex-direction:column;
    row-gap:10px;
    padding-right:3px
}

.card-content::-webkit-scrollbar {
    width: 4px;
    background-color: #e1e4e7;
    border-radius: 5px;
}

.card-content::-webkit-scrollbar-thumb:hover{
    background-color: red;
    cursor: auto;
}

.card-content::-webkit-scrollbar-thumb{
    background: #202225;
    border-radius: 10px;
}

.card-content::-webkit-scrollbar-thumb:hover {
    background-color: #424242;
}
  
.card-content::-webkit-scrollbar-track {
    background-color: transparent;
}